@using System.Web.Mvc.Html
@using TaskManager3.Models
@using RedirectToRouteResult = System.Web.Http.Results.RedirectToRouteResult
@model IEnumerable<TaskManager3.Models.CustomerTask>


@{
    ViewBag.Title = "TaskList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tasks Menu</h2>

<button>@Html.ActionLink("Add Task","New")</button>


@if (!Model.Any())
{
    <p>No current tasks available.</p>
}
else
{
    <table id="CustomerTasks" class="table table-bordered table-hover">
        <thead>
        <tr>
            <th>Task</th>
            <th>Details</th>
            <th>Complete</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var customerTask in Model)
        {
            <tr>
                <td>@customerTask.Name</td>
                <td>@customerTask.Details</td>
                <td>
                    <div class="checkbox-inline">

                        @Html.CheckBoxFor(c => customerTask.IsCompleted)
                    
                    </div>


                </td>
                <td>
                    <div class="btn-link">
                        @Html.ActionLink("Complete", "IsComplete", "CustomerTask", new {id = customerTask.Id}, null)
                    </div>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@*@section scripts {

    <script>
        $(document).ready(function() {
            $("#CustomerTasks").on("click", ".js-complete", function () {
                var input = $(this);
                $.ajax({
                    url: 
                    method: "COMPLETE",
                    success: function () {
                        input.parents("tr").checked();
                    }
                })
            })
        })
    </script>    
}*@
