@using System.Web.Mvc.Html
@using TaskManager3.Models
@using RedirectToRouteResult = System.Web.Http.Results.RedirectToRouteResult
@model IEnumerable<TaskManager3.Models.CustomerTask>


@{
    ViewBag.Title = "TaskList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 id="tastMenuTitle">Tasks Menu</h2>



@if (!Model.Any())
{
    <p>No current tasks available.</p>
}
else
{
    <table id="CustomerTasks" class="table tableTask">
        <thead>
        <tr>
            <th>Task</th>
            <th>Details</th>
            <th>Complete</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var customerTask in Model)
        {
            <tr>
                <td>@customerTask.Name</td>
                <td>@customerTask.Details</td>
                <td>
                    <div class="tablecontent">

                        @Html.CheckBoxFor(c => customerTask.IsCompleted)
                        @if (customerTask.IsCompleted)
                        {
                            @Html.ActionLink("Undo", "Undo", "CustomerTask", new { id = customerTask.Id }, null)
                        }
                        else
                        {
                            @Html.ActionLink("Complete", "IsComplete", "CustomerTask", new { id = customerTask.Id }, null)
                        }

                    </div>


                </td>
                @*<td>
                    <div class="btn-link">
                        
                    </div>
                </td>*@
            </tr>
        }
        </tbody>
    </table>
}

    <div>
        <button class="addNewButton" type="submit">@Html.ActionLink("Add", "New")</button>
    </div>


@section scripts {

    <script>
        $(document).ready(function() {
            $("#CustomerTasks").DataTable();
        })
    </script>    
}
